* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e0e3eb;
}

h2 {
    margin: 0 0 10px 0;
    font-size: 30px;
    text-align: center;
    background: #0e8dbc;
    color: white;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
    padding: 15px;
}

.container {
    position: relative;
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
    padding: 10px 20px 20px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.display {
    height: 50px;
    width: 100%;
    outline: none;
    border: none;
    text-align: right;
    margin-bottom: 10px;
    font-size: 25px;
    color: #000e1a;
    pointer-events: none;
}

.buttons {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.buttons input {
    padding: 15px;
    border-radius: 3px;
    border: none;
    font-size: 22px;
    cursor: pointer;
    background-color: #ffffff;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.buttons input:active {
    transform: scale(0.99);
}

.operator {
    color: #0e8dbc;
}